body, html {
    height: 100%;
    width: 100%;
}

.bgimg1, .bgimg2, .bgimg3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1 {
    background-image: url(./Assets/golden-gate.jpg);
    min-height: 100%;
}

.bgimg2 {
    background-image: url(./Assets/different-boat.jpg);
    min-height: 100%;
}

.bgimg3 {
    background-image: url(./Assets/jelly.jpg);
    min-height: 100%;
}

h1 {
    opacity: 1 !important;
    text-align: center;
    position: relative;
    top: 500px;
    color: rgb(230, 122, 0);
    font-kerning: 50px !important;
    background-color: black;
    padding: 5px;
    border: solid white 2px;
}

.jumbotron {
    margin-bottom: 0px !important;
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

footer {
    background-color: rgb(230, 122, 0);
    padding: 10px;
    border-top: solid 1px black;
}

#copyright {
    color: black;
    text-align: center;
    font-size: 15px;
    margin: auto;
}

.links {
    color: rgb(230, 122, 0);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 5px;

}

p {
    font-size: 15px;
    
}